@import url('loader/loader.css');
@import url('cardTest/cardTest.css');
@import url('textbg/textbg.css');


body {
  background-color: #000;
  font-family: "Sigmar One", serif;
  font-weight: 700;
  color: #fff;
  text-align: center;

}